<div class="home-sepration">
    <section class="home-info">
        <h1>{{description}}</h1>
        <p>{{mainContent}}</p>
        <p class="inspirational-quote">"I WISH I HAD NEVER GONE TRAVELING. SAID NO ONE EVER" ~anonymous</p>
    </section>

    <section class="form">
        <form method="POST" action="/home" class="user-entry-form">
            <div class="form-info booking-form">
                <p>Book places to stay and things to do anywhere.</p>
                <hr>
            </div>
        
            <ul class="form-box">
                <p>PLACE:</p>
                {{!-- <li><label for="where"></label></li>
                <li><input type="text" name="place" placeholder="Anywhere you like"></li> --}}
                    
                <label for="city"></label>
                <li>
                    <select name="city" class="form-dropdown">
                        <option value="" selected>Please select city you want travel</option>
                        <option value="Brampton">Brampton</option>
                        <option value="Oakville">Oakville </option>
                        <option value="Richmond Hill">Richmond Hill</option>
                        <option value="Toronto">Toronto</option>
                        <option value="Calgary">Calgary</option>
                    </select>
                </li>
                {{#if messages.city}}
                    <div class="error-message"> {{messages.city}} </div>
                {{/if}}

                <p>CHECK-IN:</p>
                <li><label for="checkin"></label></li>
                <li><input type="date" name="checkIn" value="{{data.checkIn}}"></li>
                {{#if messages.checkIn}}
                    <div class="error-message"> {{messages.checkIn}} </div>
                {{/if}}

                <p>CHECK OUT:</p>
                <li><label for="checkout"></label></li>
                <li><input type="date" name="checkOut" value="{{data.checkOut}}"></li>
                {{#if messages.checkOut}}
                    <div class="error-message"> {{messages.checkOut}} </div>
                {{/if}}

                <p>GUESTS:</p>
                <li><label for="guests"></label></li>
                <li>
                    <select name="guests" class="form-dropdown">
                        <option value="" selected>Please select no. of guest(s)</option>
                        <option value="1">1</option>
                        <option value="2">2</option>
                        <option value="3">3</option>
                        <option value="4">4</option>
                        <option value="5">5</option>
                        <option value="6">6+</option>
                    </select>
                </li>
                {{#if messages.guests}}
                    <div class="error-message"> {{messages.guests}} </div>
                {{/if}}
            </ul>

            <div>
                <input type="submit" value="Search" class="form-button">
            </div>
        </form>
    </section>
</div>

<div>
    <h2 class="sub-title">Featured Room</h2>
    <section class="room-list">
        {{#each featuredRooms }}
            <article class="room">
                <header>
                    <a href="#"><img src={{this.image}}></a>
                </header>
                <a href="#"><h3>{{this.name}}</h3></a>
                <div class="price-rating">
                    <h4>${{this.price}} CAD/night</h4>
                </div>            
            </article>
        {{/each}}
    </section>
</div>

<section class="photo-galary">
    <h2>Photos from our Traveler</h2>
    <article class="promotion">
        {{!-- Photo by Kym Ellis on Unsplash * --}}
        <div>
            <img src="/img/homeview-01.jpg" alt="home image1">
        </div>
        {{!-- Photo by Jason CS Chen on Unsplash --}}
        <div>
            <img src="/img/homeview-02.jpg" alt="home image2">
        </div>
        {{!-- Photo by Jason CS Chen on Unsplash --}}
        <div>
            <img src="/img/homeview-03.jpg" alt="home image3">
        </div>
    </article>
</section>
