<section>
    <h1 class="dashoard-header">Welcome to Dashboard {{user.firstname}} !</h1>

    <div class="admin-panel">
        <a href="/room/list" class="panel-operation">View Room Details</a>
        <a href="/room/add" class="panel-operation">Add a Room</a>
    </div>
</section>

<div class="crud-form">
    <article class="form">
        <form method="POST" action="/room/add" enctype="multipart/form-data" class="user-entry-form">
            <a href="#" id="createRoom" class="form-header"><h1>Room Detail Form</h1></a>
                <div id="createRoomForm">
                    <ul class="form-box" >
                    <li><label for="title"></label>Title</li>
                    <li><input type="text" name="name" value="{{data.name}}"></li><br>
                    {{#if messages.name}}
                        <div class="error-message"> {{messages.name}} </div>
                    {{/if}}
                    <li><label for="price"></label>Price/Night</li>
                    <li><input type="number" name="price" value="{{data.price}}"></li><br>
                    {{#if messages.price}}
                        <div class="error-message"> {{messages.price}} </div>
                    {{/if}}
                    <li><label for="description"></label>Description</li>
                    <li><input type="text" name="description" value="{{data.description}}"></li><br>
                    {{#if messages.description}}
                        <div class="error-message"> {{messages.description}} </div>
                    {{/if}}
                    <li><label for="roomLocation"></label>Room Location</li>
                    <li><input type="text" name="roomLocation" value="{{data.roomLocation}}"></li><br>
                    {{#if messages.roomLocation}}
                        <div class="error-message"> {{messages.roomLocation}} </div>
                    {{/if}}

                    <p>Select Room Type:</p>
                    <div class="room-type">
                        <div class="room-selection">
                            <input type="radio" id="regularRoom" name="roomType" value="0">
                            <label for="regularRoom">Regular Room</label>
                        </div>
                        <div class="room-selection">
                            <input type="radio" id="featuredRoom" name="roomType" value="1">
                            <label for="featuredRoom"> Featured Room</label><br>
                        </div>
                    </div>
                    <p>Upload Room Image:</p>
                    <input type="file" id="myFile" name="roomImage" value="image">
                </ul>
                <div>
                    <input type="submit" value="Add Room" class="form-button">
                </div>
            </div>
            
        </form>
    </article> 
</div>

