<section>
    <h1 class="dashoard-header">Welcome to Dashboard {{user.firstname}} {{user.lastname}} !</h1>

    <div class="admin-panel">
        <a href="/room/list" class="panel-operation">View Room Details</a>
        <a href="/room/add" class="panel-operation">Add a Room</a>
    </div>

    <div class="crud-form roomdashboard">
        <article class="form">
            <div id="modifyRoomForm">
                <table class="room-info-table">
                    <thead>
                        <tr>
                            <th>Name</th>
                            <th>Price</th>
                            <th>Description</th>
                            <th>Room Location</th>
                            <th>Room Type</th>
                            <th>Room Image</th>
                            <th colspan="2">Operation</th>
                        </tr>
                    </thead>
                    <tbody>
                        {{#each data}}
                        <tr>
                            <td>{{this.name}}</td>
                            <td>{{this.price}}</td>
                            <td>{{this.description}}</td>
                            <td>{{this.roomLocation}}</td>
                            <td>{{this.roomType}}</td>
                            <td>{{this.roomImage}}</td>
                            <td><a href="/room/edit/{{this.id}}" class="search-button">Update</a></td>
                            <td><a href="/room/delete/{{this.id}}?method=DELETE" class="search-button">Delete</a></td>
                        </tr>

                        {{else}}
                        <td colspan="8">
                            <p>No Room in Database</p>
                        </td>
                        {{/each}}

                        
                    </tbody>
                </table>
            </div>
        </article> 
    </div>
</section>
